@import "./components/auth/styles/auth-styles.scss";
@import "./components/header/styles/header-styles.scss";
@import "./components/crm/styles/dashboard-styles.scss";
@import "./components/crm/styles/first-login-styles.scss";

.App {
  display: flex;
  overflow-x: hidden;
}

h1,
h2,
h3 {
  font-family: "Hind madurai", sans-serif;
  margin: 0;
}

p,
li {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
