@import "../../../config/styles/variables.scss";

header {
  position: absolute;
  font-family: "Poppins", sans-serif;
  z-index: 99;

  .header-wrapper {
    height: 100vh;
    background: linear-gradient(
      60deg,
      $background-primary 0%,
      $background-secondary 100%
    );
    color: white;
    overflow: hidden;
    width: 250px;
    transition: width $transitionProp;
  }
  .hidden {
    width: 0px;
    transition: width $transitionProp;
  }

  .navigation-list {
    margin: 50px 0;
    padding: 0;
    list-style-type: none;
    border-top: 1px solid #ffffff34;

    li {
      border-bottom: 1px solid #ffffff34;
      overflow: hidden;
      transition: background-color $transitionProp;
      cursor: pointer;
      text-shadow: 0px 0px 4px #202024;
      white-space: nowrap;
      font-size: 1rem;

      a {
        display: flex;
        padding: 15px 17px 15px 0;
      }

      .header-icon {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        min-width: 50px;
      }

      &:hover {
        transition: background-color $transitionProp;
        background-color: #ffffff23;
      }

      span {
        display: inline-block;
        width: calc(100% - 50px);
        text-align: end;
      }
    }
  }

  .open-close-button {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 10px;
    right: -35px;
    width: 30px;
    height: 30px;
    background: linear-gradient(
      60deg,
      $background-primary 0%,
      $background-secondary 100%
    );
    color: rgb(255, 255, 255);
    border-radius: 50%;
    border: none;
    transition: background-color $transitionProp;
    cursor: pointer;
    z-index: 99;

    .open {
      transform: rotateY(0);
      transition: transform 400ms ease-out;
    }

    .close {
      transform: rotateY(180deg);
      transition: transform 400ms ease-out;
    }

    &:hover {
      transition: background-color $transitionProp;
    }
  }

  .logout-button {
    overflow: hidden;
    display: flex;
    gap: 30px;
    white-space: nowrap;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #dd1414;
    border: none;
    color: white;
    white-space: nowrap;
    transition: background-color $transitionProp;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 33px -14px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 0px 33px -14px rgba(66, 68, 90, 1);
    box-shadow: 0px 0px 33px -14px rgba(66, 68, 90, 1);

    a {
      display: flex;
      width: 100%;
      padding: 15px 17px 15px 0;
    }

    .header-icon {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      min-width: 50px;
    }

    span {
      display: inline-block;
      width: calc(100% - 50px);
      text-align: end;
    }

    &:hover {
      background-color: #ff0202;
      transition: background-color $transitionProp;
    }
  }

  @media (min-width: 768px) {
    .hidden {
      width: 50px;
    }
    .open-close-button {
      right: 10px;
      border-radius: 5px;
      background: none;
      background-color: #a7a7bb2d;

      &:hover {
        transition: background-color $transitionProp;
        background-color: #ffffff34;
      }
    }
  }
}
